Reading RFCs

RFC 7230, RFC 7231, RFC 7232, RFC 7233, RFC 7234, RFC 7235